<form action="/artistas/editarArtistas/{{artista.artistaId}}" method="POST" class="p-4 shadow-sm rounded bg-light">
    <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" id="nome" name="nome" class="form-control" value="{{artista.nomeArtista}}" required>
    </div>
    <select id="generoMusical" name="generoMusical" class="form-control" data-selected="{{artista.generoMusical}}" required>
    <option value="" disabled>Selecione um gênero</option>
    </select>

    <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary mt-4">Salvar Alterações</button>
    </div>
</form>



<script>

    const generos = [
  'Pop',
  'Rock',
  'Hip-hop',
  'Jazz',
  'Classical',
  'Blues',
  'Reggae',
  'Electronic',
  'Country',
  'Soul',
  'R&B',
  'Funk',
  'Metal',
  'Ska',
  'Punk',
  'Gospel',
  'Disco',
  'Techno',
  'House',
  'Alternative',
  'Folk',
  'Latin',
  'K-pop',
  'Indie',
  'Opera',
];

    const selectGenero = document.getElementById('generoMusical');

    generos.forEach(genero => {
        const option = document.createElement('option');
        option.value = genero;
        option.textContent = genero;
        selectGenero.appendChild(option);
    });

</script>